doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='x-apple-disable-message-reformatting')
  meta(name='format-detection' content='telephone=no')
  title Ticket
  link(href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css')
  // ##custom-font-resource##
  //if gte mso 16
    xml
      o:officedocumentsettings
        o:allowpng
          o:pixelsperinch 96
  style.
    html,
    body,
    table,
    tbody,
    tr,
    td,
    div,
    p,
    ul,
    ol,
    li,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
    margin: 0;
    padding: 0;
    }
    body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    }
    table {
    border-spacing: 0;
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
    }
    table td {
    border-collapse: collapse;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
    font-family: Arial;
    }
    .ExternalClass {
    width: 100%;
    }
    .ExternalClass,
    .ExternalClass p,
    .ExternalClass span,
    .ExternalClass font,
    .ExternalClass td,
    .ExternalClass div {
    line-height: 100%;
    }
    /* Outermost container in Outlook.com */
    .ReadMsgBody {
    width: 100%;
    }
    img {
    -ms-interpolation-mode: bicubic;
    }
  style.
    a[x-apple-data-detectors='true'] {
    color: inherit !important;
    text-decoration: inherit !important;
    }
    u + #body a {
    color: inherit;
    text-decoration: inherit !important;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    }
    a,
    a:link,
    .no-detect-local a,
    .appleLinks a {
    color: inherit !important;
    text-decoration: inherit;
    }
  style.
    .width600 {
    width: 550px;
    max-width: 100%;
    }
    @media all and (max-width: 549px) {
    .width600 {
    width: 100% !important;
    }
    }
    @media screen and (min-width: 550px) {
    .hide-on-desktop {
    display: none;
    }
    }
    @media all and (max-width: 549px),
    only screen and (max-device-width: 549px) {
    .main-container {
    width: 100% !important;
    }
    .col {
    width: 100%;
    }
    .fluid-on-mobile {
    width: 100% !important;
    height: auto !important;
    text-align: center;
    }
    .fluid-on-mobile img {
    width: 100% !important;
    }
    .hide-on-mobile {
    display: none !important;
    width: 0px !important;
    height: 0px !important;
    overflow: hidden;
    }
    }
  //if gte mso 9
    style.
      .col {
      width: 100% !important;
      }
      .width600 {
      width: 600px;
      }
      .width119 {
      width: 119px;
      height: auto;
      }
      .width122 {
      width: 122px;
      height: auto;
      }
      .hide-on-desktop {
      display: none;
      }
      .hide-on-desktop table {
      mso-hide: all;
      }
      .nounderline {
      text-decoration: none !important;
      }
      .mso-font-fix-arial {
      font-family: Arial, sans-serif;
      }
      .mso-font-fix-georgia {
      font-family: Georgia, sans-serif;
      }
      .mso-font-fix-tahoma {
      font-family: Tahoma, sans-serif;
      }
      .mso-font-fix-times_new_roman {
      font-family: 'Times New Roman', sans-serif;
      }
      .mso-font-fix-trebuchet_ms {
      font-family: 'Trebuchet MS', sans-serif;
      }
      .mso-font-fix-verdana {
      font-family: Verdana, sans-serif;
      }
style.
  @media screen and (min-width: 600px) {
  .hide-on-desktop {
  display: none;
  }
  }
  @media all and (max-width: 599px) {
  .hide-on-mobile {
  display: none !important;
  width: 0px !important;
  height: 0px !important;
  overflow: hidden;
  }
  }
div(style='background-color: #ffffff')
  table(height='100%' width='100%' cellpadding='0' cellspacing='0' border='0')
    tr
      td(valign='top' align='left')
        table(cellpadding='0' cellspacing='0' border='0' width='100%')
          tr
            td(width='100%')
              table(cellpadding='0' cellspacing='0' border='0' width='100%' style='background-color: #f3f3f3f3')
                tr
                  td(align='center' width='100%')
                    //if gte mso 9
                      table(width='600' cellpadding='0' cellspacing='0')
                        tr
                          td
                    table.width600.main-container(cellpadding='0' cellspacing='0' border='0' width='100%' style='max-width: 600px')
                      tr
                        td(width='100%')
                          table(cellpadding='0' cellspacing='0' border='0' width='100%')
                            tr
                              td(valign='top')
                                table.mcol(cellpadding='0' cellspacing='0' border='0' width='100%')
                                  tr
                                    td(valign='top' style='\
                                    padding: 0;\
                                    mso-cellspacing: 0in;\
                                    ')
                                      //if gte mso 9
                                        table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                          tr
                                      //if gte mso 9
                                        td(valign='top' style='padding:0;width:121px;')
                                      table.col(cellpadding='0' cellspacing='0' border='0' width='20.166666666666668%' align='left')
                                        tr
                                          td(valign='top' width='100%' style='padding: 0')
                                            table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                              tr
                                                td(valign='top' align='left')
                                                  //if gte mso 9
                                                    table(width='119' cellpadding='0' cellspacing='0')
                                                      tr
                                                        td
                                                  table.img-wrap(cellpadding='0' cellspacing='0' border='0' style='max-width: 100%')
                                                    tr
                                                      td(valign='top' align='left')
                                                        img.width119(src='https://images.chamaileon.io/5f57c70ceb0f102a93694470/5f57c70ceb0f10f3e069447a/1599588166687_logo_menu.png' width='119' height='69' alt='' border='0' style='\
                                                        display: block;\
                                                        font-size: 14px;\
                                                        max-width: 100%;\
                                                        height: auto;\
                                                        ')
                                                  //if gte mso 9
                                      //if gte mso 9
                                        | [endif]
                                      | 
                                      //if gte mso 9
                                        td(valign='top' style='padding:0;width:479px;')
                                      table.col(cellpadding='0' cellspacing='0' border='0' width='79.83333333333333%' align='left')
                                        tr
                                          td(valign='top' width='100%' style='padding: 0')
                                            table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                              tr
                                                td(valign='top' style='\
                                                padding-top: 21px;\
                                                padding-right: 10px;\
                                                padding-bottom: 5px;\
                                                padding-left: 10px;\
                                                ')
                                                  div(style='\
                                                  font-family: Lato,\
                                                  Helvetica Neue,\
                                                  Helvetica, Arial,\
                                                  sans-serif;\
                                                  font-size: 14px;\
                                                  color: #131313;\
                                                  line-height: 25px;\
                                                  text-align: left;\
                                                  ')
                                                    p(style='\
                                                    padding: 0;\
                                                    margin: 0;\
                                                    ')
                                                      | - Online Ticket
                                                    span.mso-font-fix-arial
                                      //if gte mso 9
                                      //if gte mso 9
                    //if gte mso 9
              table(cellpadding='0' cellspacing='0' border='0' width='100%')
                tr
                  td(align='center' width='100%')
                    //if gte mso 9
                      table(width='600' cellpadding='0' cellspacing='0')
                        tr
                          td
                    table.width600.main-container(cellpadding='0' cellspacing='0' border='0' width='100%' style='max-width: 600px')
                      tr
                        td(width='100%')
                          table(cellpadding='0' cellspacing='0' border='0' width='100%')
                            tr
                              td(valign='top' style='padding-top: 10px')
                                table.mcol(cellpadding='0' cellspacing='0' border='0' width='100%')
                                  tr
                                    td(valign='top' style='\
                                    padding: 0;\
                                    mso-cellspacing: 0in;\
                                    ')
                                      //if gte mso 9
                                        table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                          tr
                                      //if gte mso 9
                                        td(valign='top' style='padding:0;width:372px;')
                                      table.col(cellpadding='0' cellspacing='0' border='0' width='62%' align='left')
                                        tr
                                          td(valign='top' width='100%' style='padding: 0')
                                            table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                              tr
                                                td(valign='top' style='\
                                                padding-top: 5px;\
                                                padding-right: 10px;\
                                                padding-bottom: 5px;\
                                                padding-left: 21px;\
                                                ')
                                                  div(style='\
                                                  font-family: arial;\
                                                  font-size: 14px;\
                                                  color: #131313;\
                                                  line-height: 25px;\
                                                  text-align: left;\
                                                  ')
                                                    p(style='\
                                                    padding: 0;\
                                                    margin: 0;\
                                                    ')
                                                      | Konzert
                                            table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                              tr
                                                td
                                                  table(cellpadding='0' cellspacing='0' border='0' width='100%' style='\
                                                  border-top: 1px solid\
                                                  #a9a9a9;\
                                                  ')
                                                    tr
                                                      td
                                            table.mcol(cellpadding='0' cellspacing='0' border='0' width='100%')
                                              tr
                                                td(valign='top' style='\
                                                padding: 0;\
                                                mso-cellspacing: 0in;\
                                                ')
                                                  //if gte mso 9
                                                    table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                                      tr
                                                  //if gte mso 9
                                                    td(valign='top' style='padding:0;width:103.99999999999999px;')
                                                  table.col(cellpadding='0' cellspacing='0' border='0' width='27.956989247311824%' align='left')
                                                    tr
                                                      td(valign='top' width='100%' style='padding: 0')
                                                        table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                                          tr
                                                            td(valign='top' style='\
                                                            padding-top: 1px;\
                                                            padding-right: 10px;\
                                                            padding-left: 10px;\
                                                            ')
                                                              div(style='\
                                                              font-family: arial;\
                                                              font-size: 12px;\
                                                              color: #131313;\
                                                              line-height: 25px;\
                                                              text-align: left;\
                                                              ')
                                                        table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                                          tr
                                                            td(valign='top' style='\
                                                            padding-top: 1px;\
                                                            padding-right: 10px;\
                                                            padding-left: 10px;\
                                                            ')
                                                              div(style='\
                                                              font-family: arial;\
                                                              font-size: 12px;\
                                                              color: #131313;\
                                                              line-height: 25px;\
                                                              text-align: left;\
                                                              ')
                                                        table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                                          tr
                                                            td(valign='top' style='\
                                                            padding-top: 1px;\
                                                            padding-right: 10px;\
                                                            padding-left: 10px;\
                                                            ')
                                                              div(style='\
                                                              font-family: arial;\
                                                              font-size: 12px;\
                                                              color: #131313;\
                                                              line-height: 25px;\
                                                              text-align: left;\
                                                              ')
                                                        table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                                          tr
                                                            td(valign='top' style='\
                                                            padding-top: 1px;\
                                                            padding-right: 10px;\
                                                            padding-left: 10px;\
                                                            ')
                                                              div(style='\
                                                              font-family: arial;\
                                                              font-size: 12px;\
                                                              color: #131313;\
                                                              line-height: 25px;\
                                                              text-align: left;\
                                                              ')
                                                  //if gte mso 9
                                                    | [endif]
                                                  |  
                                                  //if gte mso 9
                                                    td(valign='top' style='padding:0;width:268px;')
                                                  table.col(cellpadding='0' cellspacing='0' border='0' width='72.04301075268818%' align='left')
                                                    tr
                                                      td(valign='top' width='100%' style='padding: 0')
                                                        table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                                          tr
                                                            td(valign='top' style='\
                                                            padding-top: 1px;\
                                                            padding-right: 10px;\
                                                            padding-left: 10px;\
                                                            ')
                                                              div(style='\
                                                              font-family: arial;\
                                                              font-size: 14px;\
                                                              color: #131313;\
                                                              line-height: 25px;\
                                                              text-align: left;\
                                                              ')
                                                                p(style='\
                                                                padding: 0;\
                                                                margin: 0;\
                                                                ')
                                                                  strong
                                                                    | #{data.concert.name}
                                                        table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                                          tr
                                                            td(valign='top' style='\
                                                            padding-top: 1px;\
                                                            padding-right: 10px;\
                                                            padding-left: 10px;\
                                                            ')
                                                              div(style='\
                                                              font-family: arial;\
                                                              font-size: 14px;\
                                                              color: #131313;\
                                                              line-height: 25px;\
                                                              text-align: left;\
                                                              ')
                                                                p(style='\
                                                                padding: 0;\
                                                                margin: 0;\
                                                                ')
                                                                  strong #{data.concert.date}
                                                        table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                                          tr
                                                            td(valign='top' style='\
                                                            padding-top: 1px;\
                                                            padding-right: 10px;\
                                                            padding-left: 10px;\
                                                            ')
                                                              div(style='\
                                                              font-family: arial;\
                                                              font-size: 14px;\
                                                              color: #131313;\
                                                              line-height: 25px;\
                                                              text-align: left;\
                                                              ')
                                                                p(style='\
                                                                padding: 0;\
                                                                margin: 0;\
                                                                ')
                                                                  strong
                                                                    | #{data.concert.time}
                                                        table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                                          tr
                                                            td(valign='top' style='\
                                                            padding-top: 1px;\
                                                            padding-right: 10px;\
                                                            padding-left: 10px;\
                                                            ')
                                                              div(style='\
                                                              font-family: arial;\
                                                              font-size: 14px;\
                                                              color: #131313;\
                                                              line-height: 25px;\
                                                              text-align: left;\
                                                              ')
                                                                p(style='\
                                                                padding: 0;\
                                                                margin: 0;\
                                                                ')
                                                                  strong #{data.concert.location}
                                                  //if gte mso 9
                                                  //if gte mso 9
                                      //if gte mso 9
                                        | [endif]
                                      | 
                                      //if gte mso 9
                                        td(valign='top' style='padding:0;width:228px;')
                                      table.col(cellpadding='0' cellspacing='0' border='0' width='38%' align='left')
                                        tr
                                          td(valign='top' width='100%' style='padding: 0')
                                            table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                              tr
                                                td(valign='top' align='center' style='padding: 14px')
                                                  //if gte mso 9
                                                    table(width='122' cellpadding='0' cellspacing='0')
                                                      tr
                                                        td
                                                  table.img-wrap(cellpadding='0' cellspacing='0' border='0' style='max-width: 100%')
                                                    tr
                                                      td(valign='top' align='center')
                                                        img.width122(src=data.qrCodeURI width='122'  alt='' border='0' style='\
                                                        display: block;\
                                                        font-size: 14px;\
                                                        max-width: 100%;\
                                                        height: auto;\
                                                        ')
                                                  //if gte mso 9
                                      //if gte mso 9
                                      //if gte mso 9
                    //if gte mso 9
              table(cellpadding='0' cellspacing='0' border='0' width='100%')
                tr
                  td(align='center' width='100%')
                    //if gte mso 9
                      table(width='600' cellpadding='0' cellspacing='0')
                        tr
                          td
                    table.width600.main-container(cellpadding='0' cellspacing='0' border='0' width='100%' style='max-width: 600px')
                      tr
                        td(width='100%')
                          table(cellpadding='0' cellspacing='0' border='0' width='100%')
                            tr
                              td(valign='top' style='padding-top: 10px')
                                table.mcol(cellpadding='0' cellspacing='0' border='0' width='100%')
                                  tr
                                    td(valign='top' style='\
                                    padding: 0;\
                                    mso-cellspacing: 0in;\
                                    ')
                                      //if gte mso 9
                                        table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                          tr
                                      //if gte mso 9
                                        td(valign='top' style='padding:0;width:372px;')
                                      table.col(cellpadding='0' cellspacing='0' border='0' width='62%' align='left')
                                        tr
                                          td(valign='top' width='100%' style='padding: 0')
                                            table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                              tr
                                                td(valign='top' style='\
                                                padding-top: 5px;\
                                                padding-right: 10px;\
                                                padding-bottom: 5px;\
                                                padding-left: 21px;\
                                                ')
                                                  div(style='\
                                                  font-family: arial;\
                                                  font-size: 14px;\
                                                  color: #131313;\
                                                  line-height: 25px;\
                                                  text-align: left;\
                                                  ')
                                                    p(style='\
                                                    padding: 0;\
                                                    margin: 0;\
                                                    ')
                                                      | KundIn
                                            table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                              tr
                                                td
                                                  table(cellpadding='0' cellspacing='0' border='0' width='100%' style='\
                                                  border-top: 1px solid\
                                                  #a9a9a9;\
                                                  ')
                                                    tr
                                                      td
                                            table.mcol(cellpadding='0' cellspacing='0' border='0' width='100%')
                                              tr
                                                td(valign='top' style='\
                                                padding: 0;\
                                                mso-cellspacing: 0in;\
                                                ')
                                                  //if gte mso 9
                                                    table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                                      tr
                                                  //if gte mso 9
                                                    td(valign='top' style='padding:0;width:103.99999999999999px;')
                                                  table.col(cellpadding='0' cellspacing='0' border='0' width='27.956989247311824%' align='left')
                                                    tr
                                                      td(valign='top' width='100%' style='padding: 0')
                                                        table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                                          tr
                                                            td(valign='top' style='\
                                                            padding-top: 1px;\
                                                            padding-right: 10px;\
                                                            padding-left: 10px;\
                                                            ')
                                                              div(style='\
                                                              font-family: arial;\
                                                              font-size: 12px;\
                                                              color: #131313;\
                                                              line-height: 25px;\
                                                              text-align: left;\
                                                              ')
                                                                p(style='\
                                                                padding: 0;\
                                                                margin: 0;\
                                                                text-align: right;\
                                                                ')
                                                                  | Name
                                                        table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                                          tr
                                                            td(valign='top' style='\
                                                            padding-top: 1px;\
                                                            padding-right: 10px;\
                                                            padding-left: 10px;\
                                                            ')
                                                              div(style='\
                                                              font-family: arial;\
                                                              font-size: 12px;\
                                                              color: #131313;\
                                                              line-height: 25px;\
                                                              text-align: left;\
                                                              ')
                                                                p(style='\
                                                                padding: 0;\
                                                                margin: 0;\
                                                                text-align: right;\
                                                                ')
                                                                  | Email
                                                        table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                                          tr
                                                            td(valign='top' style='\
                                                            padding-top: 1px;\
                                                            padding-right: 10px;\
                                                            padding-left: 10px;\
                                                            ')
                                                              div(style='\
                                                              font-family: arial;\
                                                              font-size: 12px;\
                                                              color: #131313;\
                                                              line-height: 25px;\
                                                              text-align: left;\
                                                              ')
                                                                p(style='\
                                                                padding: 0;\
                                                                margin: 0;\
                                                                text-align: right;\
                                                                ')
                                                                  | Tel
                                                        table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                                          tr
                                                            td(valign='top' style='\
                                                            padding-top: 1px;\
                                                            padding-right: 10px;\
                                                            padding-left: 10px;\
                                                            ')
                                                              div(style='\
                                                              font-family: arial;\
                                                              font-size: 12px;\
                                                              color: #131313;\
                                                              line-height: 25px;\
                                                              text-align: left;\
                                                              ')
                                                                p(style='\
                                                                padding: 0;\
                                                                margin: 0;\
                                                                text-align: right;\
                                                                ')
                                                                  | Bestellnr.
                                                        table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                                          tr
                                                            td(valign='top' style='\
                                                            padding-top: 1px;\
                                                            padding-right: 10px;\
                                                            padding-left: 10px;\
                                                            ')
                                                              div(style='\
                                                              font-family: arial;\
                                                              font-size: 12px;\
                                                              color: #131313;\
                                                              line-height: 25px;\
                                                              text-align: left;\
                                                              ')
                                                                p(style='\
                                                                padding: 0;\
                                                                margin: 0;\
                                                                text-align: right;\
                                                                ')
                                                                  | Bezahlt
                                                  //if gte mso 9
                                                    | [endif]
                                                  | 
                                                  //if gte mso 9
                                                    td(valign='top' style='padding:0;width:268px;')
                                                  table.col(cellpadding='0' cellspacing='0' border='0' width='72.04301075268818%' align='left')
                                                    tr
                                                      td(valign='top' width='100%' style='padding: 0')
                                                        table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                                          tr
                                                            td(valign='top' style='\
                                                            padding-top: 1px;\
                                                            padding-right: 10px;\
                                                            padding-left: 10px;\
                                                            ')
                                                              div(style='\
                                                              font-family: arial;\
                                                              font-size: 14px;\
                                                              color: #131313;\
                                                              line-height: 25px;\
                                                              text-align: left;\
                                                              ')
                                                                p(style='\
                                                                padding: 0;\
                                                                margin: 0;\
                                                                ')
                                                                  strong
                                                                    | #{data.buyer.name}
                                                        table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                                          tr
                                                            td(valign='top' style='\
                                                            padding-top: 1px;\
                                                            padding-right: 10px;\
                                                            padding-left: 10px;\
                                                            ')
                                                              div(style='\
                                                              font-family: arial;\
                                                              font-size: 14px;\
                                                              color: #131313;\
                                                              line-height: 25px;\
                                                              text-align: left;\
                                                              ')
                                                                p(style='\
                                                                padding: 0;\
                                                                margin: 0;\
                                                                ')
                                                                  strong #{data.buyer.email}
                                                        table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                                          tr
                                                            td(valign='top' style='\
                                                            padding-top: 1px;\
                                                            padding-right: 10px;\
                                                            padding-left: 10px;\
                                                            ')
                                                              div(style='\
                                                              font-family: arial;\
                                                              font-size: 14px;\
                                                              color: #131313;\
                                                              line-height: 25px;\
                                                              text-align: left;\
                                                              ')
                                                                p(style='\
                                                                padding: 0;\
                                                                margin: 0;\
                                                                ')
                                                                  strong
                                                                    | #{data.buyer.phone}
                                                        table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                                          tr
                                                            td(valign='top' style='\
                                                            padding-top: 1px;\
                                                            padding-right: 10px;\
                                                            padding-left: 10px;\
                                                            ')
                                                              div(style='\
                                                              font-family: arial;\
                                                              font-size: 14px;\
                                                              color: #131313;\
                                                              line-height: 25px;\
                                                              text-align: left;\
                                                              ')
                                                                p(style='\
                                                                padding: 0;\
                                                                margin: 0;\
                                                                ')
                                                                  b ##{data.buyer.orderId}
                                                        table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                                          tr
                                                            td(valign='top' style='\
                                                            padding-top: 1px;\
                                                            padding-right: 10px;\
                                                            padding-left: 10px;\
                                                            ')
                                                              div(style='\
                                                              font-family: arial;\
                                                              font-size: 14px;\
                                                              color: #131313;\
                                                              line-height: 25px;\
                                                              text-align: left;\
                                                              ')
                                                                p(style='\
                                                                padding: 0;\
                                                                margin: 0;\
                                                                ')
                                                                  b #{data.buyer.paid}
                                                  //if gte mso 9
                                                  //if gte mso 9
                                      //if gte mso 9
                                        | [endif]
                                      | 
                                      //if gte mso 9
                                        td(valign='top' style='padding:0;width:228px;')
                                      table.col(cellpadding='0' cellspacing='0' border='0' width='38%' align='left')
                                        tr
                                          td(valign='top' width='100%' style='padding: 0')
                                            table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                              tr
                                                td(valign='top' style='\
                                                padding-top: 5px;\
                                                padding-right: 10px;\
                                                padding-bottom: 5px;\
                                                padding-left: 10px;\
                                                ')
                                                  div(style='\
                                                  font-family: arial;\
                                                  font-size: 12px;\
                                                  color: #131313;\
                                                  line-height: 18px;\
                                                  text-align: left;\
                                                  ')
                                                    p(style='\
                                                    padding: 0;\
                                                    margin: 0;\
                                                    ')
                                                      | Hinweis:
                                                    p(style='\
                                                    padding: 0;\
                                                    margin: 0;\
                                                    ')
                                                      | Bitte drucken Sie
                                                      | dieses Ticket auf A4
                                                      | aus, oder halten Sie
                                                      | es bei der Kontrolle
                                                      | auf Ihrem Smartphone
                                                      | griffbereit
                                      //if gte mso 9
                                      //if gte mso 9
                    //if gte mso 9
              table(cellpadding='0' cellspacing='0' border='0' width='100%')
                tr
                  td(align='center' width='100%')
                    //if gte mso 9
                      table(width='600' cellpadding='0' cellspacing='0')
                        tr
                          td
                    table.width600.main-container(cellpadding='0' cellspacing='0' border='0' width='100%' style='max-width: 600px')
                      tr
                        td(width='100%')
                          table(cellpadding='0' cellspacing='0' border='0' width='100%')
                            tr
                              td(valign='top' style='padding-top: 10px')
                                table.mcol(cellpadding='0' cellspacing='0' border='0' width='100%')
                                  tr
                                    td(valign='top' style='\
                                    padding: 0;\
                                    mso-cellspacing: 0in;\
                                    ')
                                      //if gte mso 9
                                        table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                          tr
                                      //if gte mso 9
                                        td(valign='top' style='padding:0;width:372px;')
                                      table.col(cellpadding='0' cellspacing='0' border='0' width='62%' align='left')
                                        tr
                                          td(valign='top' width='100%' style='padding: 0')
                                            table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                              tr
                                                td(valign='top' style='\
                                                padding-top: 5px;\
                                                padding-right: 10px;\
                                                padding-bottom: 5px;\
                                                padding-left: 21px;\
                                                ')
                                                  div(style='\
                                                  font-family: arial;\
                                                  font-size: 14px;\
                                                  color: #131313;\
                                                  line-height: 25px;\
                                                  text-align: left;\
                                                  ')
                                                    p(style='\
                                                    padding: 0;\
                                                    margin: 0;\
                                                    ')
                                                      | Pl&auml;tze
                                            table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                              tr
                                                td
                                                  table(cellpadding='0' cellspacing='0' border='0' width='100%' style='\
                                                  border-top: 1px solid\
                                                  #a9a9a9;\
                                                  ')
                                                    tr
                                                      td
                                            table.mcol(cellpadding='0' cellspacing='0' border='0' width='100%')
                                              tr
                                                td(valign='top' style='\
                                                padding: 0;\
                                                mso-cellspacing: 0in;\
                                                ')
                                                  //if gte mso 9
                                                    table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                                      tr
                                                  //if gte mso 9
                                                    td(valign='top' style='padding:0;width:103.99999999999999px;')
                                                  table.col(cellpadding='0' cellspacing='0' border='0' width='27.956989247311824%' align='left')
                                                    tr
                                                      td(valign='top' width='100%' style='padding: 0')
                                                        for seat in data.seats
                                                          table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                                            tr
                                                              td(valign='top' style='\
                                                              padding-top: 1px;\
                                                              padding-right: 10px;\
                                                              padding-left: 10px;\
                                                              ')
                                                                div(style='\
                                                                font-family: arial;\
                                                                font-size: 12px;\
                                                                color: #131313;\
                                                                line-height: 25px;\
                                                                text-align: left;\
                                                                ')
                                                                  p(style='\
                                                                  padding: 0;\
                                                                  margin: 0;\
                                                                  text-align: right;\
                                                                  ')
                                                                    | #{seat.quantity} x
                                                    td(valign='top' style='padding:0;width:268px;')
                                                  table.col(cellpadding='0' cellspacing='0' border='0' width='72.04301075268818%' align='left')
                                                    tr
                                                      td(valign='top' width='100%' style='padding: 0')
                                                        for seat in data.seats
                                                          table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                                            tr
                                                              td(valign='top' style='\
                                                              padding-top: 1px;\
                                                              padding-right: 10px;\
                                                              padding-left: 10px;\
                                                              ')
                                                                div(style='\
                                                                font-family: arial;\
                                                                font-size: 14px;\
                                                                color: #131313;\
                                                                line-height: 25px;\
                                                                text-align: left;\
                                                                ')
                                                                  p(style='\
                                                                  padding: 0;\
                                                                  margin: 0;\
                                                                  ')
                                                                    | #{seat.name}
                                      table.col(cellpadding='0' cellspacing='0' border='0' width='38%' align='left')
                                        tr
                                          td(valign='top' width='100%' style='padding: 0')
                                            table(cellpadding='0' cellspacing='0' border='0' width='100%')
                                              tr
                                                td(valign='top' style='\
                                                padding-top: 5px;\
                                                padding-right: 10px;\
                                                padding-bottom: 5px;\
                                                padding-left: 10px;\
                                                ')
                                                  div(style='\
                                                  font-family: arial;\
                                                  font-size: 12px;\
                                                  color: #131313;\
                                                  line-height: 18px;\
                                                  text-align: left;\
                                                  ')
                                      //if gte mso 9
                                      //if gte mso 9
                    //if gte mso 9
